<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--CommunicationType = 0 ==> Communication through COM POrt  and CommunicationType = 1 ==> Communication through Ethernet-->
		<add key="CommunicationType" value="0" />
		
		<add key="PortName" value="COM5" />
		<add key="BaudRate" value="115200" />

		<add key="IP" value="192.168.1.2" />
		<add key="Port" value="7890" />

		<add key="MaxValue" value="32800" />
		<add key="Factor" value="100" />
		<add key="TestTime" value="10" />

		<add key="SamplePerSecond" value="3050" />
		
		<add key="IsEddyAdvance" value="true" />

		<add key="DBConnection" value="Host=localhost;Port=5432;Username=postgres;Password=Jass@9781;Database=Eddy" />

	</appSettings>
</configuration>