<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Ellipse default data-->
		<add key="Factor" value="1" />
		<add key="Height" value="120" />
		<add key="Width" value="120" />
		
		<!-- Channel 1-4 -->
		<add key="Channel" value="1" />
		
		<!--CommunicationType = 0 ==> Communication through COM POrt  and CommunicationType = 1 ==> Communication through Ethernet-->
		<add key="CommunicationType" value="0" />
		<!--CommunicationType = 0 ==> Communication through COM POrt -->
		<add key="PortName" value="COM5" />
		<add key="BaudRate" value="115200" />
		
		<!--CommunicationType = 1 ==> Communication through Ethernet-->
		<add key="IP" value="192.168.1.2" />
		<add key="Port" value="7890" />

		<!--Screen resolution Id (1=> 1920x1080, 2=> 1280x800, 3=> 1366x768,   4=> 1024x768)-->
		<add key="ScreenId" value="1" />
		
		<add key="BoxSize1" value="430" />
		<add key="BoxSize2" value="312" />
		<add key="BoxSize3" value="312" />
		<add key="BoxSize4" value="250" />
		
		<add key="LogoPath" value="E:\\Projects\\Eddy\\8F\\IMPAC.png" />
		<add key="WebPage" value="http://localhost:3000/Eddy" />
		
		<add key="LogEnable" value="false" />
		<add key="ConnectionString" value="Host=192.168.29.182;Port=5432;Username=postgres;Password=Compac@409;Database=Eddy" />

		<add key="SerialNumber" value="A1234567890B" />	
	</appSettings>
</configuration>