<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CommunicationType" value="1" />
		<add key="PortName" value="COM9" />
		<add key="Channel" value="3" />
		<add key="BaudRate" value="115200" />
		<add key="IP" value="192.168.29.97" />
		<add key="Port" value="7890" />
	</appSettings>
</configuration>