<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Ellipse default data-->
		<add key="Factor" value="1" />
		<add key="Height" value="120" />
		<add key="Width" value="120" />
		
		<!-- Channel 1-4 -->
		<add key="Channel" value="3" />
		
		<!--CommunicationType = 0 ==> Communication through COM POrt  and CommunicationType = 1 ==> Communication through Ethernet-->
		<add key="CommunicationType" value="0" />
		<!--CommunicationType = 0 ==> Communication through COM POrt -->
		<add key="PortName" value="COM4" />
		<add key="BaudRate" value="115200" />
		
		<!--CommunicationType = 1 ==> Communication through Ethernet-->
		<add key="IP" value="192.168.1.2" />
		<add key="Port" value="7890" />
		
		<add key="ConnectionString" value="Host=192.168.29.182;Port=5432;Username=postgres;Password=Compac@409;Database=Eddy" />
	</appSettings>
</configuration>