<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Ellipse default data-->
		<add key="Factor" value="35" />
		<add key="Height" value="5000" />
		<add key="Width" value="5000" />
		<add key="Height_O" value="15000" />
		<add key="Width_O" value="15000" />
		<add key="Angel_O" value="0" />
		<add key="AppMode" value="1" />
		<add key="Mode" value="1" />

		<add key="PortName" value="COM8" />
		<add key="BaudRate" value="115200" />
	
		<!--CommunicationType = 1 ==> Communication through Ethernet-->
		<add key="IP" value="192.168.1.2" />
		<add key="Port" value="7890" />

		<add key="LogEnable" value="true" />
		<add key="ConnectionString" value="Host=localhost;Port=5432;Username=postgres;Password=Climace@23;Database=Eddy" />

		<add key="SerialNumber" value="A1234567890B" />


		<add key="CSVPath" value="E:\Data\" />

		<add key="IsManualTest" value="false" />
		<add key="IsJSON" value="false" />
		
	</appSettings>
</configuration>